nav {
  background-color:#4056A1;
  height: 120px;
  position: relative;
  top: 0;
  width: 100%;
  font-family: 'Bungee', cursive;
  color:#ffff;
}

 .top-of-page {
  display: flex;
  justify-content: space-between;
 }

 .tweeter {
  position: relative;
  top: 1.5em;
  left: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
 }



