html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
}

label.logo {
  margin:0;
  border:0;
  font-family: "Bungee";
  padding-left: 1.5em;
  font-size: 27px;
}

label.text {
  display: block;
  text-align: right;
  margin-bottom: 100px;
  font-size: 18px;
  padding-right: 1.5em;
  font-family: "Sans-Serif";
  justify-content:right;
  
}



